.footer-dark{
    margin: 0;
    padding: 5%;
    color: white;
}
.nav-link{
    color: white !important;
}
.flex-column{
    color: white;
}
.WHITE{
    color: white !important;
}
.Description {
    
}