.footer-dark{
    margin: 0;
    padding: 5%;
    color: white;
}
.nav-link{
    color: white !important;
}
.flex-column{
    color: white;
}
.WHITE{
    color: white !important;
}
.dark{
    background-color: black;
}

.iconright {
    background-image: url('/imagenes/avcc910c4ee5888b858fe.png') !important;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50px;
}

.iconleft {
    background-image: url('/imagenes/izquierda.png') !important;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50px;
}