.navbar-brand{
   
    width: 20%;
    margin: 0 auto;
}
header{
    margin: 0;
}
.footer-dark{
    margin: 0;
    padding: 5%;
    color: white;
}
.nav-link{
    color: white !important;
}
.flex-column{
    color: white;
}
.WHITE{
    color: white !important;
}
.SUPERPUESTO{
    position: absolute;
    width: 50% !important   ;
}
.header{
    display: flex;
    flex-direction: row;
}
.image{
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.318);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .vacio {
        display: none;
    }
    .align-items-center {
        display: flex !important;
        align-items: center;
        justify-content: center !important;
    }
    .row{
        width: 70%;
}
}